<div class="white-bg buy-page text-center">
  <h1>Dress up the Doggo</h1>
  <hr>
  <div class="col-md-4">
    <a rel="nofollow" href="http://www.amazon.com/gp/product/B00JSMV8TS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JSMV8TS&linkCode=as2&tag=badingo06-20&linkId=3XGUJMALLZ7SDUT2"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00JSMV8TS&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=badingo06-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=badingo06-20&l=as2&o=1&a=B00JSMV8TS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </div>
  <div class="col-md-4">
    <a rel="nofollow" href="http://www.amazon.com/gp/product/B000W5UWPQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000W5UWPQ&linkCode=as2&tag=badingo06-20&linkId=NU6IPI34L3L275FB"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B000W5UWPQ&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=badingo06-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=badingo06-20&l=as2&o=1&a=B000W5UWPQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </div>
  <div class="col-md-4">
    <a rel="nofollow" href="http://www.amazon.com/gp/product/B0142Q1UW4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0142Q1UW4&linkCode=as2&tag=badingo06-20&linkId=44CNYKDCGJ4BS2IG"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0142Q1UW4&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=badingo06-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=badingo06-20&l=as2&o=1&a=B0142Q1UW4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </div>
  <div class="col-md-12 thanks">
    <p>
      Thanks for your support!
    </p>
  </div>
  <div class="col-md-12">
    <%= link_to 'Back', root_path, class: 'btn btn-primary pull-left' %>
  </div>
</div>