<div>
  <h1 class="title">BADINGO</h1>
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.myspace.com/xxbadingoxx" id="" class="btn btn-primary btn-lg btn-block">Myspace</a>
    </div>
    <div class="col-md-4">
      <%= link_to 'BUY', buy_path, class: "btn btn-danger btn-lg btn-block" %>
    </div>
  </div>
</div>

<div id="video" class="text-center">
  <iframe width="760" height="415" src="https://www.youtube.com/embed/d8DVULsW09s?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1 class="text-center">Add a dog</h1>
  <%= render 'dogs/form' %>
</div>

<div class="dogs">
  <% @dogs.each do |dog| %>
    <div class="col-md-4">
      <img src="<%= dog.image %>" class="dog-img">
    </div>
  <% end %>
</div>

